# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [3]:
# Your code here
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
insurance_df = pd.read_csv(url)

In [4]:
insurance_df.shape

(4008, 11)

In [5]:
print(insurance_df.dtypes)
insurance_df.select_dtypes(include='number').head()

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

    Income  Monthly Premium Auto  Total Claim Amount
0      0.0                1000.0            2.704934
1      0.0                  94.0         1131.464935
2  48767.0                 108.0          566.472247
3      0.0                 106.0          529.881344
4  36357.0                  68.0           17.269323

In [6]:
#Customer Lifetime Value  should be float64 
insurance_df["Customer Lifetime Value"] = pd.to_numeric(insurance_df["Customer Lifetime Value"], errors='coerce')
print(insurance_df.dtypes)

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value      float64
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

Identify the number of unique values for each column and determine which columns appear to be categorical.
You should also describe the unique values of each categorical column and the range of values for numerical columns,
and give your insights.

In [7]:
print(insurance_df.head())

  Customer          ST GENDER             Education  Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                      NaN
1  QZ44356     Arizona      F              Bachelor                      NaN
2  AI49188      Nevada      F              Bachelor                      NaN
3  WW63253  California      M              Bachelor                      NaN
4  GA49547  Washington      M  High School or Below                      NaN

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

In [8]:
insurance_df.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value         0
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [9]:
#caterorigal columns
print(insurance_df["ST"].unique())
print(insurance_df["GENDER"].unique())
print(insurance_df["Education"].unique())
print(insurance_df[ "Policy Type"].unique())
print(insurance_df["Vehicle Class"].unique())

['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
[nan 'F' 'M' 'Femal' 'Male' 'female']
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

In [10]:
#range of values for numerical columns
print(insurance_df["Customer Lifetime Value"].max() - insurance_df["Customer Lifetime Value"].min())
print(insurance_df["Income"].max() - insurance_df["Income"].min())
print(insurance_df["Monthly Premium Auto"].max() - insurance_df["Monthly Premium Auto"].min())
print(insurance_df["Total Claim Amount"].max() - insurance_df["Total Claim Amount"].min())

nan
99960.0
35293.0
2892.857571

Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.

In [11]:
print(insurance_df["Customer Lifetime Value"].describe())
# Statistics are not useful given for lot  NaN

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Customer Lifetime Value, dtype: float64

In [12]:
print(insurance_df["Income"].describe())
# min 0 implies missing data, income it seems well distributed

count     1071.000000
mean     39295.701214
std      30469.427060
min          0.000000
25%      14072.000000
50%      36234.000000
75%      64631.000000
max      99960.000000
Name: Income, dtype: float64

In [13]:
print(insurance_df["Monthly Premium Auto"].describe())
#there is an outlier as the max value

count     1071.000000
mean       193.234360
std       1601.190369
min         61.000000
25%         68.000000
50%         83.000000
75%        109.500000
max      35354.000000
Name: Monthly Premium Auto, dtype: float64

In [14]:
print(insurance_df["Total Claim Amount"].describe())

#there is a big claim that is 8 times the mean

count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

In [15]:
#Compute summary statistics for categorical columns and providing your conclusions based on these statistics.
print(insurance_df["ST"].describe())

count       1071
unique         8
top       Oregon
freq         320
Name: ST, dtype: object

In [73]:
#caterorigal columns
print(insurance_df["GENDER"].describe())
# there is a problem with data 4 categories

count     954
unique      5
top         F
freq      457
Name: GENDER, dtype: object

In [74]:
#caterorigal columns
print(insurance_df["Education"].describe())
#most likely the customers have a bachelor degree

count         1071
unique           6
top       Bachelor
freq           324
Name: Education, dtype: object

In [75]:
#caterorigal columns
print(insurance_df[ "Policy Type"].describe())
#most likely the customers have a personal auto

count              1071
unique                3
top       Personal Auto
freq                780
Name: Policy Type, dtype: object

In [76]:
#caterorigal columns
print(insurance_df["Vehicle Class"].describe())
#most likely the customers have a four door car

count              1071
unique                6
top       Four-Door Car
freq                576
Name: Vehicle Class, dtype: object

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [54]:
# Your code here

# Create a pandas Series with customer locations and their frequencies
customer_locations_series = insurance_df['ST'].value_counts()

# Retrieve the top 5 less common locations in ascending order
sorted_customer_locations = customer_locations_series.sort_values()
top_5_less_common = sorted_customer_locations.head(5)

# Display the top 5 less common locations
print("Top 5 less common customer locations:")
print(top_5_less_common)

Top 5 less common customer locations:
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: ST, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [63]:
# Your code here
type_of_policy = insurance_df['Policy Type'].value_counts()
highest_policy_sold = type_of_policy.idxmax


print(type_of_policy)

print(highest_policy_sold)

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64
<bound method Series.idxmax of Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64>

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [65]:
# Your code here

personal_auto_df = insurance_df.loc[insurance_df['Policy Type'] == 'Personal Auto']
corporate_auto_df = insurance_df.loc[insurance_df['Policy Type'] == 'Corporate Auto']

average_income_personal_auto = personal_auto_df['Income'].mean()
average_income_corporate_auto = corporate_auto_df['Income'].mean()

print("Average income for Personal Auto policies:", average_income_personal_auto)
print("Average income for Corporate Auto policies:", average_income_corporate_auto)

Average income for Personal Auto policies: 38180.69871794872
Average income for Corporate Auto policies: 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here