In [75]:
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

In [76]:

csv_file_path = 'C:/Users/ETTORE/Documents/Iron Hack/week 4/marketing_customer_analysis_clean.csv'

df = pd.read_csv(csv_file_path)

In [77]:
numericals_df = df.select_dtypes(include='number')
numericals_df.columns

Index(['unnamed:_0', 'customer_lifetime_value', 'income',
       'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'total_claim_amount', 'month'],
      dtype='object')

In [78]:
#dropping nas
df = df.dropna()

In [79]:
#dropping duplicates
df = df.drop_duplicates()

###X-y split

In [80]:
X = df[['customer_lifetime_value', 'income','monthly_premium_auto', 'months_since_last_claim','months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'month']]
y = df[["total_claim_amount"]]

In [81]:
#train test split

In [82]:
from sklearn.model_selection import train_test_split

In [83]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 42)

In [84]:
#Standardize the data (after the data split!).

from sklearn.preprocessing import MinMaxScaler, StandardScaler, PowerTransformer

scaler = MinMaxScaler()

scaler.fit(X_train)
scaler.transform(X_train)

array([[0.24954704, 0.37560136, 0.53164557, ..., 0.        , 0.125     ,
        1.        ],
       [0.07813874, 0.33327332, 0.18565401, ..., 0.        , 0.25      ,
        0.        ],
       [0.00456644, 0.        , 0.02953586, ..., 0.        , 0.        ,
        1.        ],
       ...,
       [0.07310297, 0.        , 0.03375527, ..., 0.        , 0.125     ,
        1.        ],
       [0.03777879, 0.        , 0.03797468, ..., 0.        , 0.25      ,
        1.        ],
       [0.44404234, 0.        , 0.2278481 , ..., 0.        , 0.125     ,
        1.        ]])

In [85]:
scaler.transform(X_test)

array([[0.04783588, 0.95751193, 0.0464135 , ..., 0.        , 0.25      ,
        1.        ],
       [0.01202724, 0.32813235, 0.05063291, ..., 0.07685122, 0.        ,
        0.        ],
       [0.0032382 , 0.        , 0.02531646, ..., 0.4       , 0.        ,
        1.        ],
       ...,
       [0.01650036, 0.8921295 , 0.08438819, ..., 0.        , 0.        ,
        0.        ],
       [0.07625516, 0.        , 0.06329114, ..., 0.        , 0.125     ,
        0.        ],
       [0.03994245, 0.65641472, 0.01265823, ..., 0.        , 0.25      ,
        0.        ]])

In [86]:
#Model training

In [87]:
from sklearn.linear_model import LinearRegression

In [88]:
lm = LinearRegression()
model = lm.fit(X_train,y_train)

In [89]:
model.coef_

array([[-6.21776882e-04, -3.29296570e-03,  5.39085597e+00,
         1.79071863e-01, -1.78513159e-01, -4.98835428e-01,
         2.96686857e-01, -1.82471227e+00]])

In [90]:
model.intercept_

array([67.77210531])

In [91]:
#Predict total claim amount

In [92]:
random_claim = X_test.sample()

In [93]:
random_claim

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,month
1383,6085.304178,44712,82,19.0,14,2.0,8,1

In [94]:
model.predict(random_claim)

array([[359.25780394]])

In [95]:
### Create predictions for test set

In [116]:
y_pred = model.predict(X_test)

In [117]:
y_pred = pd.DataFrame(y_pred)

In [118]:
y_test = y_test.reset_index(drop=True)

In [119]:
residuals_df = pd.concat([y_test,y_pred],axis=1)

In [121]:
residuals_df = residuals_df.rename(columns={"total_claim_amount":"y_test", 0:"y_pred"})

In [129]:
residuals_df

          y_test      y_pred   residuals
0     475.423848  123.071120  352.352728
1     350.400000  350.691128   -0.291128
2     482.400000  415.785845   66.614155
3     673.342650  434.007087  239.335563
4     302.400000  155.650319  146.749681
...          ...         ...         ...
2723  460.266881  588.498884 -128.232003
2724  405.883346  305.973219   99.910127
2725   41.182611  200.930037 -159.747426
2726  364.800000  454.960213  -90.160213
2727   89.411365  191.297920 -101.886555

[2728 rows x 3 columns]

In [130]:
residuals_df["residuals"] = residuals_df["y_test"]- residuals_df["y_pred"]

In [131]:
residuals_df

          y_test      y_pred   residuals
0     475.423848  123.071120  352.352728
1     350.400000  350.691128   -0.291128
2     482.400000  415.785845   66.614155
3     673.342650  434.007087  239.335563
4     302.400000  155.650319  146.749681
...          ...         ...         ...
2723  460.266881  588.498884 -128.232003
2724  405.883346  305.973219   99.910127
2725   41.182611  200.930037 -159.747426
2726  364.800000  454.960213  -90.160213
2727   89.411365  191.297920 -101.886555

[2728 rows x 3 columns]

In [132]:
residuals_df["residuals"] = residuals_df["y_test"]-residuals_df["y_pred"]

In [46]:
residuals_df.head()

   total_claim_amount      y_pred
0          475.423848  412.877517
1          350.400000  382.024783
2          482.400000  380.027245
3          673.342650  444.206697
4          302.400000  584.003674

In [ ]:
### Calculating metrics

In [144]:
mean_error = residuals_df["residuals"].mean()

In [145]:
mean_error

4.628632631226293

In [146]:
from sklearn.metrics import mean_squared_error as mse , mean_absolute_error as mae

In [147]:
mse(y_test,y_pred)

40492.20304674427

In [148]:
mae(y_test,y_pred)

145.9942961608727

In [151]:
rmse = mse(y_test,y_pred, squared = False)
rmse

201.22674535643682